src/WinFormApp.5.0.0/Service References/SessionReference/IPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://com.Sconit.SDService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.Sconit.SDService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.Sconit.SDService/Imports">
      <xsd:import schemaLocation="http://localhost:8080/IPService.svc?xsd=xsd0" namespace="http://com.Sconit.SDService" />
      <xsd:import schemaLocation="http://localhost:8080/IPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/IPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/com.Sconit.SDEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIpService_ScanOrderNo_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanOrderNo" />
  </wsdl:message>
  <wsdl:message name="IIpService_ScanOrderNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanOrderNoResponse" />
  </wsdl:message>
  <wsdl:message name="IIpService_ScanHu_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanHu" />
  </wsdl:message>
  <wsdl:message name="IIpService_ScanHu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanHuResponse" />
  </wsdl:message>
  <wsdl:message name="IIpService_CancelHu_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelHu" />
  </wsdl:message>
  <wsdl:message name="IIpService_CancelHu_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelHuResponse" />
  </wsdl:message>
  <wsdl:message name="IIpService_GetHu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHu" />
  </wsdl:message>
  <wsdl:message name="IIpService_GetHu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHuResponse" />
  </wsdl:message>
  <wsdl:portType name="IIpService">
    <wsdl:operation name="ScanOrderNo">
      <wsdl:input wsaw:Action="http://com.Sconit.SDService/IIpService/ScanOrderNo" message="tns:IIpService_ScanOrderNo_InputMessage" />
      <wsdl:output wsaw:Action="http://com.Sconit.SDService/IIpService/ScanOrderNoResponse" message="tns:IIpService_ScanOrderNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanHu">
      <wsdl:input wsaw:Action="http://com.Sconit.SDService/IIpService/ScanHu" message="tns:IIpService_ScanHu_InputMessage" />
      <wsdl:output wsaw:Action="http://com.Sconit.SDService/IIpService/ScanHuResponse" message="tns:IIpService_ScanHu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelHu">
      <wsdl:input wsaw:Action="http://com.Sconit.SDService/IIpService/CancelHu" message="tns:IIpService_CancelHu_InputMessage" />
      <wsdl:output wsaw:Action="http://com.Sconit.SDService/IIpService/CancelHuResponse" message="tns:IIpService_CancelHu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHu">
      <wsdl:input wsaw:Action="http://com.Sconit.SDService/IIpService/GetHu" message="tns:IIpService_GetHu_InputMessage" />
      <wsdl:output wsaw:Action="http://com.Sconit.SDService/IIpService/GetHuResponse" message="tns:IIpService_GetHu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>