src/SAP.Intergration.1.0.0/Service.SAP/Web References/MI_MARC_OUT/MI_MARC_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.sih.cq.cn/sap/mm/02" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="MI_MARC_OUT" targetNamespace="http://www.sih.cq.cn/sap/mm/02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZSIH_MATNR_INFO">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="INPUT" type="rfc:ZTMATNR_IN" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSIH_MATNR_INFO.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="OUTPUT" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union xmlns="urn:sap-com:document:sap:rfc:functions" memberTypes="xsd:date rfc:genericDate" />
      </xsd:simpleType>
      <xsd:complexType name="ZTMATNR_IN">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="WERKS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MATNR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAEDA" type="rfc:date" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZSIH_MATNR_INFO.Input">
    <wsdl:part name="parameters" element="rfc:ZSIH_MATNR_INFO" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSIH_MATNR_INFO.Output">
    <wsdl:part name="parameters" element="rfc:ZSIH_MATNR_INFO.Response" />
  </wsdl:message>
  <wsdl:portType name="MI_MARC_OUT">
    <wsdl:operation name="MI_MARC_OUT">
      <wsdl:input message="p1:rfc.ZSIH_MATNR_INFO.Input" />
      <wsdl:output message="p1:rfc.ZSIH_MATNR_INFO.Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI_MARC_OUTBinding" type="p1:MI_MARC_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="MI_MARC_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MI_MARC_OUTService">
    <wsdl:port name="MI_MARC_OUTPort" binding="p1:MI_MARC_OUTBinding">
      <address location="http://10.86.128.31:8000/XISOAPAdapter/MessageServlet?channel=:LES01:CC_SOAP2&amp;version=3.0&amp;Sender.Service=LES01&amp;Interface=http%3A%2F%2Fwww.sih.cq.cn%2Fsap%2Fmm%2F02%5EMI_MARC_OUT" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>