src/SAP.Intergration.1.0.0/Service.SAP/Web References/MI_LES2SAP_POST_DELIV_DOC/MI_LES2SAP_POST_DELIV_DOC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.sih.cq.cn/sap/sd/01/les" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="MI_LES2SAP_POST_DELIV_DOC" targetNamespace="http://www.sih.cq.cn/sap/sd/01/les" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZSD_RCV_POST_DELIV_DOC">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="DELIV_DOCS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSTM_ZSDDNFLES" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSD_RCV_POST_DELIV_DOC.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="MESSAGE">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="100" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SUCCESS">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DELIV_DOCS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSTM_ZSDDNFLES" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union xmlns="urn:sap-com:document:sap:rfc:functions" memberTypes="xsd:date rfc:genericDate" />
      </xsd:simpleType>
      <xsd:complexType name="ZSTM_ZSDDNFLES">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VBELN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="POSNR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZTCODE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MATNR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WERKS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LGORT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PIKMG">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="13" />
                <xsd:fractionDigits value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VRKME">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WADAT_IST" type="rfc:date" />
          <xsd:element minOccurs="0" name="WMSNR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WMSPONR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZSD_RCV_POST_DELIV_DOC.Input">
    <wsdl:part name="parameters" element="rfc:ZSD_RCV_POST_DELIV_DOC" />
  </wsdl:message>
  <wsdl:message name="rfc.ZSD_RCV_POST_DELIV_DOC.Output">
    <wsdl:part name="parameters" element="rfc:ZSD_RCV_POST_DELIV_DOC.Response" />
  </wsdl:message>
  <wsdl:portType name="MI_LES2SAP_POST_DELIV_DOC">
    <wsdl:operation name="MI_LES2SAP_POST_DELIV_DOC">
      <wsdl:input message="p1:rfc.ZSD_RCV_POST_DELIV_DOC.Input" />
      <wsdl:output message="p1:rfc.ZSD_RCV_POST_DELIV_DOC.Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI_LES2SAP_POST_DELIV_DOCBinding" type="p1:MI_LES2SAP_POST_DELIV_DOC">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="MI_LES2SAP_POST_DELIV_DOC">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MI_LES2SAP_POST_DELIV_DOCService">
    <wsdl:port name="MI_LES2SAP_POST_DELIV_DOCPort" binding="p1:MI_LES2SAP_POST_DELIV_DOCBinding">
      <address location="http://10.86.128.63:8000/XISOAPAdapter/MessageServlet?channel=:LES01:CC_SOAPS2&amp;version=3.0&amp;Sender.Service=MI_LES2SAP_POST_DELIV_DOCService&amp;Interface=http%3A%2F%2Fwww.sih.cq.cn%2Fsap%2Fsd%2F01%2Fles%5EMI_LES2SAP_POST_DELIV_DOC" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>